html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lucida Sans Unicode", Garamond, Georgia, sans-serif;
	font-size: 12px;
	color: #20403a;
	background: url('green-back.png');
}

h1, h2 {
	font-weight: normal;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	padding-top: 20px;
	letter-spacing: 5px;
	font-size: 3em;
	font-variant: small-caps;
}

h1 a {
	text-decoration: none;
}

img {
	border: none;
}

a {
	color: #3c776b;
}

a:hover {
	color: #20403a;
}

.credits {
	border-bottom: solid 1px #5d988c;
	padding-bottom: 10px;
	margin: 0 0 30px 0;
	font-size: 1.2em;
}

#page {
	padding: 0 30px; 
	max-width: 960px;
	background-color: #fffc;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	box-shadow: 0 4px 8px 0 #000a, 0 6px 20px 0 #000a;
}

#container {
	width: 100%;
}

#bottom {
	margin-top: 30px;
	border-top: solid 1px #5d988c;
	text-align: center;
	padding: 10px;
}

#container .item {
	display: inline-block;
	padding: 2px;
	cursor: pointer;
}

#container h2 {
	font-style: italic;
	font-size: 1.1em;
	margin: 0;
	padding: 0 0 5px 0;
}

#container .item:hover img {
	border: 1px solid #5d988c;
}

#container img {
	padding: 5px;
	background-color: #fff;
}

#breadcrumbs {
	margin-bottom: 20px;
	font-size: 1.2em;
}

#selected-category {
	color: #20403a;
	font-weight: bold;
}

#slideshow {
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.9);
}

#slideshow-image {
	position: fixed;
	max-width: calc(100% - 1em);
	max-height: calc(100% - 6em);
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

#slideshow-caption {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	color: #fff;
	padding: 1em;
}

#slideshow-previous, #slideshow-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
	color: #fff;
	padding: 5px;
	font-size: 3em;
	cursor: pointer;
}

#slideshow-previous {
	left: 0;
}

#slideshow-next {
	right: 0;
}
