body {
	margin: 0 auto;
	padding: 5px;
	font-family: Garamond, Georgia, serif;
	font-size: 12px;
	max-width: 960px;
}

h1, h2 {
	font-weight: normal;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 20px 0 0 0;
	letter-spacing: -2px;
	font-size: 3em;
}

h1 a {
	text-decoration: none;
}

img {
	border: none;
}

a {
	color: #000;
}

a:hover {
	color: #888;
}

.credits {
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
	margin: 0 0 30px 0;
	font-size: 1.2em;
}

#container {
	width: 100%;
}

#bottom {
	border-top: solid 1px #ccc;
	text-align: center;
	padding: 10px;
	color: #888;
}

#container .item {
	display: inline-block;
	padding: 0 15px 30px 15px;
	cursor: pointer;
	position: relative;
}

#container h2 {
	font-style: italic;
	font-size: 1.1em;
	margin: 0;
	padding: 0 0 5px 0;
}

#container .item:hover img {
	border: 1px solid #000;
	background-color: #ddd;
}

#container img {
	border: 1px solid #888;
	padding: 5px;
}

#breadcrumbs {
	margin: 0 0 20px 15px;
	font-size: 1.2em;
}

#selected-category {
	color: #888;
}

#slideshow {
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.9);
}

#slideshow-image {
	position: fixed;
	max-width: calc(100% - 1em);
	max-height: calc(100% - 6em);
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

#slideshow-caption {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	color: #fff;
	padding: 1em;
}

#slideshow-previous, #slideshow-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
	color: #fff;
	padding: 5px;
	font-size: 3em;
	cursor: pointer;
}

#slideshow-previous {
	left: 0;
}

#slideshow-next {
	right: 0;
}
